{% extends 'base.html' %}

{% block title %}Auteur{% endblock %} <!-- {auteur_nom} -->
{% block content %}
<div class="book-container">
    <div class="book-details row">
        <div class="book-cover">
            <img src="{{ url_for('static', filename='Photos/'+auteur.photo) }}" alt="Photo de l'auteur">
        </div>

        <div class="author-info" style="padding-left: 40px">
            <h2>{{ auteur.prenom }} {{ auteur.nom }}</h2>
            <p><strong>Prénom:</strong> {{ auteur.prenom }}</p>
            <p><strong>Nom:</strong> {{ auteur.nom }}</p>
            <p><strong>Style:</strong> {{ auteur.specialite }}</p>

            <form action="{{ url_for('auteur_favori', auteur_id=auteur.id) }}" method="post">
                <input type="hidden" name="favori" value="{{ 'retirer' if auteur.favori else 'ajouter' }}">
                <button type="submit" class="{% if auteur.favori %}retirer{% else %}ajouter{% endif %}">
                {% if auteur.favori %}
                    Retirer des favoris
                {% else %}
                    Ajouter aux favoris
                {% endif %}
                </button>
            </form>

        </div>
    </div>
            <!-- Étoiles de notation -->
    <div class="rating" style="padding-left: 50px">
                {% for i in range(5) %}
                    {% if i < auteur.note %}
                        <span class="star checked" style = "font-size: 30px;" >&#9733; </span>
                    {% else %}
                        <span class="star" style = "font-size: 30px;" >&#9733;</span>
                    {% endif %}
                {% endfor %}
        <div style="height: 50px;"></div>
    </div>

</div>
{% endblock %}