{% extends 'base.html' %}

{% block title %}Auteur{% endblock %} <!-- {auteur_nom} -->
{% block content %}
<h2>{{ auteur_nom }}</h2>

<div class="row">
  <div class="column">
      <p>Photo ici</p>
  </div>

  <div class="column">
      Nom: {{prenom}} {{nom}}<br>
      Style: {{style}}<br>
      Note: {{note}}<br>

      <form action="{{ url_for('ajouter_auteur', auteur_id=auteur_id) }}" method="post">
        <button type="submit" class="{% if est_favori %}retirer{% else %}ajouter{% endif %}">
            {% if est_favori %}
                Retirer des favoris
            {% else %}
                Ajouter aux favoris
            {% endif %}
        </button>
    </form>

      <form action="{{ url_for('noter_auteur', auteur_id=auteur_id, favori=est_favori) }}" method="post">
          <input type="radio" name="note" value="1" required> 1
        <input type="radio" name="note" value="2"> 2
        <input type="radio" name="note" value="3"> 3
        <input type="radio" name="note" value="4"> 4
          <input type="radio" name="note" value="5"> 5 <br>

          <p>
        <input type="submit" value="Noter" name="noter">
        </p>
      </form>

        <input type="button" value="Noter" onclick="Fonction()"><br>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <!-- https://www.geeksforgeeks.org/star-rating-using-html-css-and-javascript/ -->
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
  </form>
  </div>

</div>

{% endblock %}