{% extends 'base.html' %}

{% block title %}Auteur{% endblock %}
{% block content %}

<div class="row">
  <div class="column">
      <p>Photo ici</p>
  </div>

  <div class="column">
      Nom: {{prenom}} {{nom}}<br>
      Style: {{style}}<br>
      Note: {{note}}<br>

      <form action="" method="post">
        <input type="button" value="Ajouter comme auteur préféré" onclick="Fonction()"><br>
        <input type="button" value="Noter" onclick="Fonction()"><br>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <!-- https://www.geeksforgeeks.org/star-rating-using-html-css-and-javascript/ -->
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
  </form>
  </div>

</div>

{% endblock %}