<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script type="text/javascript" src="../static/app.js"></script>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="header">
  <a href="#default" class="titre">La tour des livres</a>

  <div class="header-right">
      <a href="/recherche">Recherche</a>
    <div class="dropdown">
    <button class="dropbtn">Utilisateur
      <span class="hamburger-icon">&#9776;</span>
    </button>
    <div class="dropdown-content">
      <a href="/profil">Profil</a>
      <a href="/mabiblio/">Bibli perso</a>
      <a href="/logout">Se déconnecter</a>
    </div>
  </div>
  </div>
</div>

  <hr /><br>

  {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p> {{ msg }}</p>
        {% endfor %}
    {%endif%}
  {%endwith%}
  {% endblock %}
</body>
</html>