<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script defer type="text/javascript" src="../static/app.js"></script>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
  <h1>La tour des livres</h1>

  <h2>Création d'un compte</h2>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p> {{ msg }}</p>
        {% endfor %}
    {%endif%}
  {%endwith%}

  <form id="registerForm" action="inscription" method="post">
      <label for="prenom">Prénom</label><br>
      <input type="text" id = "prenom" name="prenom" maxlength="20" required><br>
      <label for="nom">Nom</label><br>
      <input type="text" id="nom" name="nom" maxlength="20" required><br>
      <label for="courriel">Courriel</label><br>
      <input type="email" id="courriel" name="courriel" maxlength="254" required>
      <p id="error-message" style="color: red;"></p>
      <label for="surnom">Nom d'utilisateur</label><br>
      <input type="text" id="surnom" name="surnom" maxlength="20" required><br>
      <label for="age"> Âge</label><br>
      <input type="number" id="age" name="age" min="5" max="105" required><br>
      <label for="sexe"> Sexe</label><br>

      <input type="radio" id="sexe" name="sexe" value="Homme" required> Homme
        <input type="radio" name="sexe" value="Femme"> Femme
        <input type="radio" name="sexe" value="Autre"> Autre
      <br>

      <label for="motpasse"> Mot de passe: </label><br>
      <input type="password" id="motpasse" name="motpasse" minlength="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{6,}" required><br>
      <p id="password-error-message" style="color: red;"></p>
      Le mot de passe:
      <ul>
        <li>Doit contenir au moins 6 caractères</li>
        <li>Doit comporter au moins un chiffre, un caractère spécial (!@#$%^&*) et des lettres minuscules et majuscules</li>
        <li>Ne doit pas contenir votre nom, votre prénom, ni votre nom d'utilisateur</li>
        </ul>

    <p>
        <button type="submit" name="inscription">S'incrire</button>
        <button type="reset">Recommencer</button>
    </p>
</form>

<p>
    <button onclick="window.location.href='/login';">Retourner à la page de connexion</button>
</p>

</body>
</html>