<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
  <form action="login" method="post">
    <p>
      Prénom: <input type="text" name="prenom"><br>
      Nom: <input type="text" name="nom"><br>
      Courriel: <input type="text" name="courriel"><br>
      Surnom: <input type="text" name="surnom"><br>
      Âge: <input type="text" name="age"><br>
      Sexe: <input type="radio" name="sexe" value="Homme"> Homme
        <input type="radio" name="sexe" value="Femme"> Femme
        <input type="radio" name="sexe" value="Non binaire"> Non binaire
        <input type="radio" name="sexe" value="Autre"> Autre
      <br>
      Mot de passe: <input type="password" name="motpasse"><br>

        <input type="submit" value="S'incrire" name="inscription">
    </p>
</form>
</body>
</html>