<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script defer type="text/javascript" src="../static/app.js"></script>
    <meta charset="UTF-8">
    <title>La tour des livres</title>
</head>

<body>
    <h1>La tour des livres</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p> {{ msg }}</p>
        {% endfor %}
    {%endif%}
  {%endwith%}

    <form id="emailForm" action="login" method="post">
    <p> <label for="courriel">Courriel</label><br>
        <input type="email" id="courriel" name="courriel" placeholder="Entrez votre courriel" value="{{email if email}}" required><br>
        <label for="motpasse">Mot de passe</label><br>
        <input type="password" id="motpasse" name="motpasse" required><br>
    </p>
    <p id="error-message" style="color: red;"></p>

    <p>
        <input type="submit" value="Connexion" name="soumettre">
        <input type="reset" value="Recommencer">
    </p>
    </form>

{% if message %}
<div id="cadre">{{ message }}</div>
{% endif %}

<p>
    Si vous n'avez pas de compte:
    <input type="button" value="Créer un compte" onclick="window.location.href='/creation-compte';">
</p>

</body>
</html>