{% extends "base.html" %}

{% block content %}
    <div class="library-header centre">
        <h1>Votre Bibliothèque</h1>
    </div>

    <div class="library-sections">
        <!-- Section "Lus" -->
        <div class="library-section">
            <h2>Livres lus</h2>
            <p class="info-text">{{ livres_lus_count }} livre(s) lu(s)</p>
            <div class="book-grid">
                {% for livre in livres_lus %}
                    <div class="book-card row">
                    <div class="book-cover">
                        <!-- Afficher la couverture du livre ici si disponible -->
                        <img src="{{ url_for('static', filename='Photos/l' ~ livre[0] ~ '.jpg') }}" alt="Couverture">
                        <div style="height: 50px;"></div>
                    </div>
                    <div class="book-info" style="padding-left: 40px">
                    <div class="book-genre">{{ livre[2] }}</div>
                        <div style="height: 50px;"></div>
                    <div class="book-title">
                        <a href="{{ url_for('livre_details', lid=livre[0]) }}">
                            <strong>{{ livre[1] }}</strong>
                        </a>
                    </div>
                        <div style="height: 50px;"></div>
                    <div class="book-annee">{{ livre[3] }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Section "À lire" -->
        <div class="library-section">
            <h2>Livres à lire</h2>
            <p class="info-text">{{ livres_a_lire_count }} livre(s) à lire</p>
            <div class="book-grid">
                {% for livre in livres_a_lire %}
                    <div class="book-card row">
                    <div class="book-cover">
                        <!-- Afficher la couverture du livre ici si disponible -->
                        <img src="{{ url_for('static', filename='Photos/l' ~ livre[0] ~ '.jpg') }}" alt="Couverture">
                        <div style="height: 50px;"></div>
                    </div>
                    <div class="book-info" style="padding-left: 40px">
                    <div class="book-genre">{{ livre[2] }}</div>
                        <div style="height: 50px;"></div>
                    <div class="book-title">
                        <a href="{{ url_for('livre_details', lid=livre[0]) }}">
                            <strong>{{ livre[1] }}</strong>
                        </a>
                    </div>
                        <div style="height: 50px;"></div>
                    <div class="book-annee">{{ livre[3] }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Section "À acheter" -->
        <div class="library-section">
            <h2>Livres en cours de lecture</h2>
            <p class="info-text">{{ livres_a_acheter_count }} livre(s) en cours </p>
            <div class="book-grid">
                {% for livre in livres_a_acheter %}
                    <div class="book-card row">
                    <div class="book-cover">
                        <!-- Afficher la couverture du livre ici si disponible -->
                        <img src="{{ url_for('static', filename='Photos/l' ~ livre[0] ~ '.jpg') }}" alt="Couverture">
                        <div style="height: 50px;"></div>
                    </div>
                    <div class="book-info" style="padding-left: 40px">
                    <div class="book-genre">{{ livre[2] }}</div>
                        <div style="height: 50px;"></div>
                    <div class="book-title">
                        <a href="{{ url_for('livre_details', lid=livre[0]) }}">
                            <strong>{{ livre[1] }}</strong>
                        </a>
                    </div>
                        <div style="height: 50px;"></div>
                    <div class="book-annee">{{ livre[3] }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Section "Auteurs favoris" -->
        <div class="library-section">
            <h2>Auteurs favoris</h2>
            <p class="info-text">{{ auteurs_favoris|length }} auteur(s) favori(s)</p>
            <div class="book-grid">
                {% for auteur in auteurs_favoris %}
                    <div class="book-card row">
                        <div class="book-cover img">
                            <!-- Afficher la photo de l'auteur -->
                            <img src="{{ url_for('static', filename='Photos/'+auteur.photo) }}" alt="Photo de l'auteur">
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="auteur-info" style=" padding-left: 40px">
                            <div style="height: 50px;"></div>
                            <span>({{ auteur.surnom }})</span><br>
                            <div style="height: 50px;"></div>
                            <strong> <a href="{{ url_for('auteur', auteur_id=auteur.id) }}">
                                {{ auteur.prenom }} {{ auteur.nom }}
                            </a>
                            </strong> <br>
                            <div style="height: 50px;"></div>
                            <span> Spécialité : {{ auteur.specialite }}</span><br>


                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
